.logo img{width:auto;}
.sidebar-collapse .main-sidebar {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	width: 50px;
	z-index: 99;
}
.right-panel{
	margin-left: 266px;
}
.main-sidebar,
.left-side {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.main-sidebar,
.left-side {
	padding:58px 0 0 0;
	background-color: #3598db;
}
.right-panel{
	margin-top:66px;
}
.right-section h2{
	display:inline;
}
.article-list li{
	padding:20px 32px;
}
.article-list li h3{
	font-size:20px;
	padding:0;
	line-height:normal;
}
.article-list li p{
	font-size:15px;
}
.navbar-nav {
    margin-left: 0;
    width: auto;
	float:right;
}
.navbar-nav > li > a {
    padding: 10px 15px 11px;
}
.right-section h2{
	font-size:28px;
}
.create-article .form-control.small{width:82%; margin-bottom:0;}
.create-article .add{
	width:auto;
	margin:0 0 0 10px;
	float:left;
}